{% extends "base.html" %}
{% block title %}Clientes{% endblock %}
{% block content %}

<h2 id="tituloSeccion">Clientes</h2>

<div class="seleccion-group">
  <button type ="button" id="btnAgregarNuevoCliente" class="agregarnuevo">Nuevo Cliente</button>
  <button type ="button" id="btnAgregarNuevoVendedor" class="agregarnuevo" style="display: none;">Nuevo Vendedor</button>
  <button type ="button" id="btnAgregarNuevoMaterial" class="agregarnuevo" style="display: none;">Nuevo Material</button>
  <button type="button" id="btnClientes" class="active" >Clientes</button>
  <button type="button" id="btnVendedores" >Vendedores</button>
  <button type ="button" id ="btnMateriales">Materiales</button>

</div>
<div class="separacion"></div>
<!-- CONTENIDO CLIENTES -->
<div id="seccionClientes">
  <div class = "container1" id ="container1" style="display: none;">
    <form method="post" action="{{ url_for('agregar_clientes') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            
            <input type="text" name="nombre" placeholder="Nombre" required>

            
            <input type="text" name="telefono" placeholder="Telefono" required>
            
            <input type="text" name="contacto" placeholder="Contacto" required>
      
            <input type="text" name="activo" placeholder="Activo" required>

            <br><br>
            <button class="guardar" type="submit">Guardar</button>
      
    
    </form>
  </div>
  <div class="separacion"></div>
  <table border="1" cellpadding="10" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Contacto</th>
      <th>Teléfono</th>
      <th>Accion</th>
    </tr>
  </thead>

  <tbody>
    {% for c in clientes %}
    <tr>
      <td>{{ c.nombre }}</td>
      <td>{{ c.contacto }}</td>
      <td>{{ c.telefono }}</td>
      <td>
        <form method="POST" action="/clientes/{{ c['id'] }}/eliminar"
      onsubmit="return confirm('Seguro quieres eliminar');">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit"
                        style="padding:6px 10px; border:none; border-radius:6px;
                                background:#c62828; color:white; cursor:pointer;">
                    Eliminar
                </button>
    
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
  

<!-- CONTENIDO VENDEDORES -->
<div id="seccionVendedores" style="display:none;">
  <div class = "container2" id="container2" style="display: none;">
      <form method="post" action="{{ url_for('agregar_vendedor') }}">
             <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

           
            <input type="text" name="nombre" placeholder ="Nombre" required>

            
            <input type="text" name="telefono" placeholder="Telefono" required>

            
            <input type="text" name="activo" placeholder ="Activo" required>

            <br><br>
            <button class="guardar" type="submit">Guardar</button>
        </form>
  </div>
        

<table broder="1" cellpadding="10" cellpadding="0" width = "100%">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Activo</th>
            <th>Accion</th>

        </tr>
    </thead> 
    <tbody>
        {% for v in vendedores %}
        <tr>
            <td>{{ v.nombre }}</td>
            <td> {{ v.telefono }}</td>
            <td> {{ v.activo }}</td>
            <td>
                <form method="POST" action="/vendedores/{{ v['id'] }}/eliminar"
                onsubmit="return confirm('Seguro quieres eliminar?');">
                 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit"
                        style="padding:6px 10px; border:none; border-radius:6px;
                                background:#c62828; color:white; cursor:pointer;">
                    Eliminar
                </button>
            </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

</div>

<div id="seccionMateriales" style="display: none;">
  <div class = "container3" id ="container3" style="display: none;">
   <form method="post" action="{{ url_for('agregar_material') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      
      <input type="text" name="material" placeholder="Nombre" required>

      
      <input type="text" name="gramaje" placeholder="Gramaje" required>

     
      <input type="text" name="pliegos_resma" placeholder ="PLiegos por Resmas" required>
      <br><br>
      
      <input type="number" name="costo" placeholder ="Costo de Resma" required>

      
      <input type="number" name="ancho" placeholder="Ancho Material" required>

      
      <input type="number" name ="alto"  placeholder ="Alto Material"required>
      <br><br>
      
      <input type="number" name ="tipo" placeholder="Tipo" required>

       <br><br>
        <button class="guardar" type="submit">Guardar</button>
   </form>
  </div>

   <table border="1" cellpadding="10" cellpadding="0" width = "100%">
    <thead>
      <tr>
        <th>Nombre:</th>
        <th>Gramaje:</th>
        <th>Pliegos Por Resma</th>
        <th>Costos por Resma</th>
        <th>Ancho Material</th>
        <th>Alto Material</th>
        <th>Tipo de Impresion</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      {% for m in materiales %}
      <tr>
        <td>{{ m.nombre }}</td>
        <td>{{ m.gramaje }}</td>
        <td>{{ m.pliegos_por_resma }}</td>
        <td>{{ m.costo_resma }}</td>
        <td>{{ m.ancho_pl }}</td>
        <td>{{ m.altos_pl }}</td>
        <td>{{ m.tipo_impresion_id }}</td>
        <td>
        <form method="POST" action="/materiales/{{ m['id'] }}/eliminar"
                onsubmit="return confirm('Seguro quieres eliminar?');">
                 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit"
                        style="padding:6px 10px; border:none; border-radius:6px;
                                background:#c62828; color:white; cursor:pointer;">
                    Eliminar
                </button>

        </form>
        </td>
        
      </tr>
      {% endfor %}
    </tbody>

   </table>
</div>

<!-- TABLA -->


<style>
.seleccion-group button{
    background: #f3f3f3;
    color: #c62828;
    border-radius: 5px;
    border: 1px solid #c62828;
    padding: 10px;
}

.seleccion-group button.active{
    background: #c62828;
    color: white;
}
  
    .guardar{
        background:#c62828;
        color:#fff;
        border-radius: 10px;
        padding:10px;
        border: none;
        cursor: pointer;
        position: center;
    }
   
    .modal{
        display: none;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, .5);
        z-index: 9999;
        display: none;
        align-items: center;
        justify-content: center;

    }
   .modal-content{
    background:#fff;
    width: 600px;
    max-width: 90%;
    padding: 20px;
    border-radius: 12px;
    position: relative;
    color:#c62828;
}

.modal-content input{
    width: 100px;
    padding: 5px;
    margin: 6px 0 12px 0;
    box-sizing: border-box;
}

.close{
    position: absolute;
    top:10px;
    right:12px;
    font-size: 24px;
    cursor: pointer;
}

html { font-size: 16px; }
body { font-size: 1rem; }
h1 { font-size: 1.6rem; }

@media (min-width: 1024px){
    html { font-size: 15px; }
}
    thead th{
        background: #c62828;
        color:#fff;
    }
    .container1 {
      display: flex;
      background: white;
      border-radius: 10px;
    }
    .container1 form {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
    }
    .container2 {
      display: flex;
      background: white;
      border-radius: 10px;
    }
    .container2 form {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
    }
    .container3 {
      display:grid;
      grid-template-columns: repeat(3,1fr);
      gap: 10px;
      background-color: white;
      padding: 15px;
      border-radius : 10px; 

    }
  

  
    .seleccion-group .agregarnuevo{
    background: transparent !important;
    color: #c62828 !important;
    border: none !important;
    padding: 10px !important;
    cursor: pointer !important;
    font-weight: 600 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.seleccion-group .agregarnuevo:hover{
    color: #8f0f1f !important;
    text-decoration: underline;
}
</style>
<script>

const btnClientes = document.getElementById("btnClientes");
const btnVendedores = document.getElementById("btnVendedores");
const btnMateriales = document.getElementById("btnMateriales")

const seccionClientes = document.getElementById("seccionClientes");
const seccionVendedores = document.getElementById("seccionVendedores");
const seccionMateriales = document.getElementById("seccionMateriales");

const titulo = document.getElementById("tituloSeccion");

btnClientes.addEventListener("click", () => {
    seccionClientes.style.display = "block";
    seccionVendedores.style.display = "none";
    seccionMateriales.style.display= "none";
    titulo.textContent = "Clientes";
    btnAgregarNuevoCliente.style.display = "inline-block";
    btnAgregarNuevoVendedor.style.display = "none";
    btnAgregarNuevoMaterial.style.display = "none";
    

    btnClientes.classList.add("active");
    btnVendedores.classList.remove("active");
    btnMateriales.classList.remove("active")
});

btnVendedores.addEventListener("click", () => {
    seccionClientes.style.display = "none";
    seccionVendedores.style.display = "block";
    seccionMateriales.style.display="none";
    titulo.textContent = "Vendedores";
    btnAgregarNuevoCliente.style.display = "none";
    btnAgregarNuevoVendedor.style.display = "inline-block";
    btnAgregarNuevoMaterial.style.display = "none";


    btnVendedores.classList.add("active");
    btnClientes.classList.remove("active");
    btnMateriales.classList.remove("active");
});

btnMateriales.addEventListener("click",()=>{
  seccionClientes.style.display="none";
  seccionVendedores.style.display="none";
  seccionMateriales.style.display="block";
   titulo.textContent = "Materiales";
  btnAgregarNuevoCliente.style.display = "none";
  btnAgregarNuevoVendedor.style.display = "none";
  btnAgregarNuevoMaterial.style.display = "inline-block";


  btnVendedores.classList.remove("active");
  btnClientes.classList.remove("active");
  btnMateriales.classList.add("active");


})
const btnAgregarNuevoCliente = document.getElementById("btnAgregarNuevoCliente");
const btnAgregarNuevoVendedor = document.getElementById("btnAgregarNuevoVendedor");
const btnAgregarNuevoMaterial = document.getElementById("btnAgregarNuevoMaterial");

const container1 = document.getElementById("container1");
const container2 = document.getElementById("container2");
const container3 = document.getElementById("container3");


btnAgregarNuevoCliente.addEventListener("click", () => {
  if(container1.style.display === "none"){
    container1.style.display = "flex";
  }else{
    container1.style.display = "none";
  }
});
btnAgregarNuevoVendedor.addEventListener("click", () => {
  if(container2.style.display === "none"){
    container2.style.display = "flex";
  }else{
    container2.style.display = "none";
  }
});
btnAgregarNuevoMaterial.addEventListener("click",()=>{
    if(container3.style.display === "none"){
      container3.style.display = "flex";
    }else{
      container3.style.display = "none";
    } 

});  
</script>
{% endblock %}