{% extends "base.html" %}
{% block title %}Costos Nuevos{% endblock %}
{% block content %}

<h1>Agregar Costos</h1>
<form method="POST" action="{{ url_for('nuevo_costo') }}" style="max-width:600px;">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label>Material</label><br>
    <input type="text" name="material" required style="width:100%; padding:8px; margin-bottom:10px;"><br><br>

    <label>Proveedor</label><br>
    <input type="text" name="proveedor" required style="width:100%; padding:8px; margin-bottom:10px;"><br><br>

    <label>Factura</label><br>
    <input type="text" name="factura" required style="width:100%; padding:8px; margin-bottom:10px;"><br><br>

    <label>Monto</label><br>
    <input type="number" name="monto" step="0.01" required style="width:100%; padding:8px; margin-bottom:10px;"><br><br>

    <label>Fecha</label><br>
    <input type="date" name="fecha" required style="width:100%; padding:8px; margin-bottom:10px;"><br><br>

    <button type="submit"
            style="padding:10px 15px; background:#b11226; color:white; border:none;">
        Guardar Costo</button>
</form>

{% endblock %}

</html>
