{% extends "base.html" %}
{% block title %}Ventas{% endblock%}
{% block content %}

<h1 class="ventas-header">Ventas</h1>
<div class ="nuevoBtn" id = "nuevoBtn">
    <button type="button" class = "nuevaVenta" id = "nuevo">Agregar Venta</button>
  </div>
<form method="POST" action="{% if venta %}{{ url_for('editar_venta', ventas_id=venta.id) }}{% else %}{{ url_for('ventas_nuevas') }}{% endif %}" class="form-card">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  
  <div class="cards">
    <div class="grid" id="formventa" style="display: none;">

      <div class="field">
        <label>Fecha</label>
        <input type="date" name="fecha" value="{{ venta.fecha if venta else '' }}" required>
      </div>

      <div class="field">
        <label>Vendedor</label>
        <select name="vendedor" required>
          <option value="">Seleccionar Vendedor</option>
          {% for v in vendedores %}
            <option value="{{ v.nombre }}" {% if venta and venta.vendedor == v.nombre %}selected{% endif %}>
              {{ v.nombre }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="field">
        <label>Cliente</label>
        <select name="clientes" required>
          <option value="">Seleccionar Cliente</option>
          {% for c in clientes %}
            <option value="{{ c.nombre }}" {% if venta and venta.cliente == c.nombre %}selected{% endif %}>
              {{ c.nombre }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="field">
        <label>Cotización</label>
        <input type="text" name="cotizacion" value="{{ venta.cotizacion if venta else '' }}" required>
      </div>

      <div class="field">
        <label>Monto</label>
        <input type="number" name="mont" value="{{ venta.mont if venta else '' }}" required>
      </div>

      <div class="field">
        <label>Tipo</label>
        <select name="tipo" required>
          <option value="">Tipo</option>
          {% for t in tipo %}
            <option value="{{ t.nombre }}" {% if venta and venta.tipo == t.nombre %}selected{% endif %}>
              {{ t.nombre }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="field">
        <label>Proyecto</label>
        <input type="text" name="proyecto" value="{{ venta.proyecto if venta else '' }}" required>
      </div>

      <div class="field">
        <label>Cantidades</label>
        <input type="number" name="cantidades" value="{{ venta.cantidades if venta else '' }}" required>
      </div>

      <div class="actions">
        <button type="submit">
          {% if venta %}Editar Venta{% else %}Guardar Venta{% endif %}
        </button>
      </div>

    </div>
  
</form>

<form method="get">
    <input type ="text" name ="q" placeholder="Buscar,cliente,vendedor..." value ="{{ q }}" style="padding:8px;border: 1px solid #ccc;border-radius: 6px;">
    <button type="submit" style="padding: 10px 12px;border: none; border-radius: 8px; background-color: #b11226;color:white;">Filtrar</button>
    <a href="{{ url_for('produccion') }}" style="padding:10px 12px; border:none; border-radius: 6px;background-color:white;color:black;">Borrar</a>
      
</form>
</div>
<table class ="tables" border="2" cellpadding="10" cellpadding="0" width = "100%">
    <thead class = "table-head">
        <tr>
            <th>Fecha</th>
            <th>Vendedor</th>
            <th>Cliente</th>
            <th>Cotizacion</th>
            <th>Tipo</th>
            <th>Monto</th>
            <th>Cantidades</th>
            <th>Proyecto</th>
            <th>Accion</th>
        </tr>   
    </thead>
    <tbody>
        {% for v in ventas %}
        <tr>
            <td>{{ v.fecha }}</td>
            <td>{{ v.vendedor }}</td>
            <td>{{ v.cliente }}</td>    
            <td>#{{ v.cotizacion }}</td>
            <td>{{ v.tipo }}</td>
            <td>${{ v.mont }}</td>
            <td>{{ v.cantidades }}</td>
            <td>{{ v.proyecto }}</td>
            <td>
               <form method="post" action="{{ url_for('eliminar_venta', ventas_id=v.id) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button class ="eliminarbtn" type="submit">Eliminar</button>
              </form>
              <div style="height: 6px;"></div> <!-- espacio entre botones -->
              <a  class ="editarbtn" href="{{ url_for('editar_venta', ventas_id=v.id) }}">Editar</a>
            
 

            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>



<style>
  .tables{
    margin-top: 25px;
      background: white;
      border-collapse: collapse;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 16px rgba(0,0,0,0.06);
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
     
  }
  
  .editarbtn{
    border-radius: 30px;
    background-color: green;
    color: white;
    border-style: none;
    cursor: pointer;
    padding: 4px 17px;
    text-decoration: none;
    display: inline-block;

   
  }
  .eliminarbtn{
    border-radius: 30px;
    background-color: #b11226;
    color: white;
    border-style: none;
    cursor: pointer;
  }
    .search{
        background: white;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 4px 16px rgba(0,0,0,0.06);
        width: 500px;
        margin: 10px auto;

       

    }
    .table-head{
        color:#b11226;
    }
    .ventas-header{
        color: black;
        font-size: 32px;
        margin-bottom: 10px;

    }
  .form-card{
    width: 100%;
      max-width: 800px;
      margin: 0 auto;
        margin-top: 20px;
     
  }

  .cards{
    background: white;
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 14px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.06);
    
  }
  .nuevaVenta{
    color:white;
    background: #b11226;
    border-radius: 8px;
    border: none;
    padding: 10px 14px;
    cursor: pointer;

  }

  .grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 10px;
    align-items: start;
    }

  .field label{
    display:block;
    font-weight: 600;
    margin-bottom: 6px;
  }

  .field input, .field select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }

  .actions{
    grid-column: 4 / 5;   /* botón en la derecha */
    display: flex;
    align-items:end;
    justify-content: flex-end;
  }

  .actions button{
    width: 100%;
    padding: 10px 15px;
    background: #b11226;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  

  /* responsive: en pantallas pequeñas baja a 2 y luego 1 columna */
  @media (max-width: 900px){
    .grid{ grid-template-columns: repeat(2, minmax(180px, 1fr)); }
    .actions{ grid-column: 1 / -1; }
    .actions button{ width: auto; }
  }
  @media (max-width: 520px){
    .grid{ grid-template-columns: 1fr; }
    .actions button{ width: 100%; }
  }
</style>
<script>
  document.getElementById("nuevo").addEventListener("click", function(){
    const form = document.getElementById("formventa");
    if(form.style.display === "none"){
      form.style.display = "grid";
    } else {
      form.style.display = "none";
    }
  });
</script>
{% endblock %}
</html